@model Drip.UI.HydroField

@{
}

<div class="form-control">
    <label class="label">
        <span class="label-text text-accent text-2xl">Type in a regex</span>
    </label>
    <input name="Content"
           type="text"
           placeholder="\w+"
           class="input input-bordered bg-transparent"/>
</div>